#include "Defaults.xcconfig"
#include? "Local.xcconfig"

CLAWPILOT_ENVIRONMENT = development
CLAWPILOT_DISPLAY_NAME = ClawPilot Dev
CLAWPILOT_SERVER_ORIGIN = https:/$()/dev.aiapp.eigenracing.com
CLAWPILOT_PHONE_BUNDLE_IDENTIFIER = com.eigenracing.ios.picking.dev
CLAWPILOT_WATCH_BUNDLE_IDENTIFIER = com.eigenracing.ios.picking.dev.watch
CLAWPILOT_ASSOCIATED_DOMAIN = dev.aiapp.eigenracing.com
CLAWPILOT_META_URL_SCHEME = clawpilot-meta-dev
CLAWPILOT_META_APP_LINK_SCHEME = clawpilot-meta-dev:/$()/
CLAWPILOT_META_APP_ID = $(CLAWPILOT_META_DEV_APP_ID)
CLAWPILOT_META_CLIENT_TOKEN = $(CLAWPILOT_META_DEV_CLIENT_TOKEN)
CLAWPILOT_GOOGLE_IOS_CLIENT_ID = $(CLAWPILOT_GOOGLE_DEV_IOS_CLIENT_ID)
CLAWPILOT_GOOGLE_SERVER_CLIENT_ID = $(CLAWPILOT_GOOGLE_SERVER_CLIENT_ID_SHARED)
CLAWPILOT_GOOGLE_REVERSED_CLIENT_ID = $(CLAWPILOT_GOOGLE_DEV_REVERSED_CLIENT_ID)
